*.sln              eol=crlf
*.vcxproj          eol=crlf
*.vcxproj.filters  eol=crlf
*.vcxproj.user     eol=crlf 
*.bat              eol=crlf
*.rc               eol=crlf

*.exe binary
*.lib binary
*.dll binary  
*.a binary
*.so binary

*.jpg binary
*.png binary
*.gif binary
*.ico binary

*.mp3 binary
*.mp4 binary
*.avi binary

*.7z binary
*.zip binary