[submodule "3rdparty/gcem"]
	path = 3rdparty/gcem
	url = https://github.com/kthohr/gcem.git
[submodule "3rdparty/pixman"]
	path = 3rdparty/pixman
	url = git://anongit.freedesktop.org/git/pixman.git
[submodule "3rdparty/angle"]
	path = 3rdparty/angle
	url = https://github.com/google/angle.git
[submodule "3rdparty/cairo"]
	path = 3rdparty/cairo
	url = git://anongit.freedesktop.org/git/cairo
[submodule "3rdparty/skia"]
	path = 3rdparty/skia
	url = https://skia.googlesource.com/skia.git
